<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTRM System</title>
    <link rel="stylesheet" href="css/remo/login.css">
</head>
<body>

    <header class="ulo"></header>
    <div class="container">
        <div class="content">
            <img src="img/essu logo1.png" alt="Eastern Samar State University Logo" class="logo">
            <h1>Document Tracking and <br> Records Management System</h1>
            <div class="button-container">
                <button class="menu-button"><a href="/alldocs">PRESIDENTS' OFFICE</a></button>
                <button class="menu-button"><a href="/option">REMO OFFICE</a></button>
            </div>
        </div>
    </div>

</body>
</html>
