<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTRM System</title>
    <link rel="stylesheet" href="css/remo/option.css">
</head>
<body>
    <header></header>

    <div class="container">
        <div class="content">
            <div class="left-content">
                <img src="../../img/essu logo1.png" alt="Eastern Samar State University Logo" class="logo">
                <h1>Document Tracking and <br> Records Management System</h1>
            </div>
            <div class="button-container">
                <button class="menu-button"><a href="/option/docs">EXTERNAL COMMUNICATION</a></button>
                <button class="menu-button"><a href="#">INTERNAL COMMUNICATION</a></button>
                <button class="menu-button"><a href="#">INCOMING / OUTGOING MAILS</a></button>
                <button class="menu-button"><a href="#">TRAVEL ORDER</a></button>
            </div>
        </div>
    </div>

</body>
</html>
