<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTRM System</title>
    <link rel="stylesheet" href="/css/opres/alldocs.css">
</head>
<body>
    
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                         <img src="../img/essu logo1.png" alt="essu" class="logo">
                        
                    </a>
                </li>                

                <li>
                    <a href="/alldocs">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/alldocs/incoming">
                        <span class="icon"><ion-icon name="arrow-undo-outline"></ion-icon></span>
                        <span class="title">Incoming</span>
                    </a>
                </li>
                <li>
                    <a href="/alldocs/incoming/outgoing">
                        <span class="icon"><ion-icon name="paper-plane-outline"></ion-icon></span>
                        <span class="title">Outgoing</span>
                    </a>
                </li>
                <li>
                    <a href="/alldocs/incoming/outgoing/pending">
                        <span class="icon"><ion-icon name="share-outline"></ion-icon></span>
                        <span class="title">Pending for Release</span>
                    </a>
                </li>
                <li>
                    <a href="/alldocs/incoming/outgoing/pending/received">
                        <span class="icon"><ion-icon name="cloud-upload-outline"></ion-icon></span>
                        <span class="title">Received/Release</span>
                    </a>
                </li>
                <li>
                    <a href="/alldocs/incoming/outgoing/pending/received/track">
                        <span class="icon"><ion-icon name="barcode-outline"></ion-icon></span>
                        <span class="title">Track</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="archive-outline"></ion-icon></span>
                        <span class="title">Archive</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>       

        <!-- =========== Main ============ -->
         <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text"placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="../img/1.jpg" alt="">
                </div>
            </div>

            <div class="welcome1">
                <h2>External communication</h2>
            </div>

            <table class="docs-table">
                <thead>
                    <tr>
                        <th>Control Number</th>
                        <th>Date Received</th>
                        <th>Sender / Means of Sending</th>
                        <th>To Whom</th>
                        <th>Subject Matter / Content</th>
                        <th>Received By</th>
                        <th>Date Released</th>
                        <th>Receiver</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3567</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3568</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3569</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <span>Showing 1 to 1 of 1 entries</span>
                <div class="page-controls">
                  <button>Previous</button>
                  <span>1</span>
                  <button>Next</button>
                </div>
              </div>

            <div class="welcome1">
                <h2>Internall communication</h2>
            </div>

            <table class="docs-table">
                <thead>
                    <tr>
                        <th>Control Number</th>
                        <th>Date Received</th>
                        <th>Sender / Means of Sending</th>
                        <th>To Whom</th>
                        <th>Subject Matter / Content</th>
                        <th>Received By</th>
                        <th>Date Released</th>
                        <th>Receiver</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3567</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3568</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3569</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <span>Showing 1 to 1 of 1 entries</span>
                <div class="page-controls">
                  <button>Previous</button>
                  <span>1</span>
                  <button>Next</button>
                </div>
              </div>

            <div class="welcome1">
                <h2>Incoming/Outgoing Mails</h2>
            </div>

            <table class="docs-table">
                <thead>
                    <tr>
                        <th>Control Number</th>
                        <th>Date Received</th>
                        <th>Sender / Means of Sending</th>
                        <th>To Whom</th>
                        <th>Subject Matter / Content</th>
                        <th>Received By</th>
                        <th>Date Released</th>
                        <th>Receiver</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3567</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3568</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3569</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <span>Showing 1 to 1 of 1 entries</span>
                <div class="page-controls">
                  <button>Previous</button>
                  <span>1</span>
                  <button>Next</button>
                </div>
              </div>

            <div class="welcome1">
                <h2>Travel Order</h2>
            </div>

            <table class="docs-table">
                <thead>
                    <tr>
                        <th>Control Number</th>
                        <th>Date Received</th>
                        <th>Sender / Means of Sending</th>
                        <th>To Whom</th>
                        <th>Subject Matter / Content</th>
                        <th>Received By</th>
                        <th>Date Released</th>
                        <th>Receiver</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3567</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3568</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>3569</td>
                        <td>Sept. 25, 2024</td>
                        <td>Yisrael through email</td>
                        <td>Dr. Andres C. Pagatpatan</td>
                        <td>Yisrael Solutions and Training Center Inc.</td>
                        <td>Carmela Abendanio</td>
                        <td>Sept. 25, 2024</td>
                        <td>Dr. J. Torillo & Dr. Tegio</td>
                        <td>Take appropriate action. You may participate</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <span>Showing 1 to 1 of 1 entries</span>
                <div class="page-controls">
                  <button>Previous</button>
                  <span>1</span>
                  <button>Next</button>
                </div>
              </div>
        </div>
 
    </div>    
    <script src="/js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>